<h1 style ="color:red;text-align:center;border:2px solid red;font-size :3rem"> IPL ANALYSIS 2023</h1>

<h1> All the Data taken from <a herf="https://codebasics.io/challenge/codebasics-resume-project-challenge/13"</h1> Code Basics</a></h1>

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

# 1.Data Exploration

In [2]:
df_players = pd.read_csv("datasets/dim_players.csv")

In [3]:
df_players.head()

,name,team,battingStyle,bowlingStyle,playingRole
0,RuturajGaikwad,Super Kings,Right hand Bat,Right arm Offbreak,Batter
1,FafduPlessis,Super Kings,Right hand Bat,Legbreak,Middle order Batter
2,RobinUthappa,Super Kings,Right hand Bat,Right arm Medium,Batter
3,MoeenAli,Super Kings,Left hand Bat,Right arm Offbreak,Batting Allrounder
4,ShubmanGill,KKR,Right hand Bat,Right arm Offbreak,Opening Batter

In [4]:
df_players.shape

(292, 5)

In [5]:
df_players.playingRole.unique()

array(['Batter', 'Middle order Batter', 'Batting Allrounder',
       'Opening Batter', 'Allrounder', 'Bowling Allrounder',
       'Wicketkeeper Batter', 'Top order Batter', 'Bowler'], dtype=object)

In [6]:
df_players.playingRole.value_counts()

playingRole
Bowler                 117
Allrounder              41
Wicketkeeper Batter     29
Top order Batter        27
Bowling Allrounder      23
Batting Allrounder      19
Middle order Batter     13
Batter                  12
Opening Batter          11
Name: count, dtype: int64

In [7]:
df_players.team.unique()

array(['Super Kings', 'KKR', 'Capitals', 'RCB', 'Mumbai', 'Sunrisers',
       'Royals', 'Punjab Kings', 'Titans', 'Super Giants'], dtype=object)

In [8]:
df_players.team.value_counts()

team
Mumbai          39
Punjab Kings    38
Sunrisers       35
KKR             35
Royals          33
RCB             30
Capitals        29
Super Kings     28
Titans          13
Super Giants    12
Name: count, dtype: int64

In [9]:
df_players.isna().sum()

name            0
team            0
battingStyle    0
bowlingStyle    0
playingRole     0
dtype: int64

In [10]:
df_players.battingStyle.unique()

array(['Right hand Bat', 'Left hand Bat'], dtype=object)

In [11]:
df_players["bowlingStyle"].value_counts()

bowlingStyle
Right arm Offbreak                                52
Right arm Medium                                  47
Right arm Fast medium                             28
Right arm Fast                                    26
Not Available                                     23
Legbreak                                          21
Slow Left arm Orthodox                            21
Legbreak Googly                                   16
Right arm Medium fast                             16
Left arm Fast medium                              12
Left arm Medium fast                              10
Left arm Medium                                    5
Left arm Wrist spin                                4
Left arm Fast                                      3
Right arm Offbreak, Legbreak Googly                2
Right arm Offbreak, Legbreak                       2
Right arm Medium, Right arm Offbreak               2
Right arm Medium, Right arm Offbreak, Legbreak     1
Slow Left arm Orthodox, Left arm Wrist spin        1
Name: count, dtype: int64

In [12]:
df_match = pd.read_csv("datasets/dim_match_summary.csv")

In [13]:
df_match

            team1        team2        winner     margin     matchDate match_id
0     Super Kings          KKR   Super Kings    27 runs  Oct 15, 2021  T203817
1        Capitals          KKR           KKR  3 wickets  Oct 13, 2021  T206442
2             RCB          KKR           KKR  4 wickets  Oct 11, 2021  T208597
3        Capitals  Super Kings   Super Kings  4 wickets  Oct 10, 2021  T201819
4        Capitals          RCB           RCB  7 wickets   Oct 8, 2021  T205942
..            ...          ...           ...        ...           ...      ...
201        Mumbai          RCB           RCB  8 wickets   Apr 2, 2023  T202485
202        Royals    Sunrisers        Royals    72 runs   Apr 2, 2023  T209117
203  Super Giants     Capitals  Super Giants    50 runs   Apr 1, 2023  T208512
204  Punjab Kings          KKR  Punjab Kings     7 runs   Apr 1, 2023  T202853
205   Super Kings       Titans        Titans  5 wickets  Mar 31, 2023  T201566

[206 rows x 6 columns]

In [14]:
df_match.isna().sum()

team1        0
team2        0
winner       0
margin       0
matchDate    0
match_id     0
dtype: int64

In [15]:
type(df_match["matchDate"][0])

str

In [16]:
df_bating = pd.read_csv("datasets/fact_bating_summary.csv")
df_bowling = pd.read_csv("datasets/fact_bowling_summary.csv")

In [17]:
df_bating.head()

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60

In [18]:
df_bating.isna().sum()

match_id       0
match          0
teamInnings    0
battingPos     0
batsmanName    0
out/not_out    0
runs           0
balls          0
4s             0
6s             0
SR             0
dtype: int64

In [19]:
df_bating.dtypes

match_id       object
match          object
teamInnings    object
battingPos      int64
batsmanName    object
out/not_out    object
runs            int64
balls           int64
4s              int64
6s              int64
SR             object
dtype: object

In [20]:
df_bating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match_id     3268 non-null   object
 1   match        3268 non-null   object
 2   teamInnings  3268 non-null   object
 3   battingPos   3268 non-null   int64
 4   batsmanName  3268 non-null   object
 5   out/not_out  3268 non-null   object
 6   runs         3268 non-null   int64
 7   balls        3268 non-null   int64
 8   4s           3268 non-null   int64
 9   6s           3268 non-null   int64
 10  SR           3268 non-null   object
dtypes: int64(5), object(6)
memory usage: 281.0+ KB

In [21]:
type(df_bating["SR"][0])

str

In [22]:
df_bowling.head()

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.0,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.0,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.0,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.5,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.5,6,0,1,1,0

In [23]:
df_bating[df_bating.match_id == "T203817"]

,match_id,match,teamInnings,battingPos,batsmanName,out/not_out,runs,balls,4s,6s,SR
0,T203817,Super Kings Vs KKR,Super Kings,1,RuturajGaikwad,out,32,27,3,1,118.51
1,T203817,Super Kings Vs KKR,Super Kings,2,FafduPlessis,out,86,59,7,3,145.76
2,T203817,Super Kings Vs KKR,Super Kings,3,RobinUthappa,out,31,15,0,3,206.66
3,T203817,Super Kings Vs KKR,Super Kings,4,MoeenAli,not_out,37,20,2,3,185.00
4,T203817,Super Kings Vs KKR,KKR,1,ShubmanGill,out,51,43,6,0,118.60
5,T203817,Super Kings Vs KKR,KKR,2,VenkateshIyer,out,50,32,5,3,156.25
6,T203817,Super Kings Vs KKR,KKR,3,NitishRana,out,0,1,0,0,0.00
7,T203817,Super Kings Vs KKR,KKR,4,SunilNarine,out,2,2,0,0,100.00
8,T203817,Super Kings Vs KKR,KKR,5,EoinMorgan,out,4,8,0,0,50.00
9,T203817,Super Kings Vs KKR,KKR,6,DineshKarthik,out,9,7,0,1,128.57
10,T203817,Super Kings Vs KKR,KKR,7,ShakibAlHasan,out,0,1,0,0,0.00
11,T203817,Super Kings Vs KKR,KKR,8,RahulTripathi,out,2,3,0,0,66.66
12,T203817,Super Kings Vs KKR,KKR,9,LockieFerguson,not_out,18,11,1,1,163.63
13,T203817,Super Kings Vs KKR,KKR,10,ShivamMavi,out,20,13,1,2,153.84
14,T203817,Super Kings Vs KKR,KKR,11,VarunChakravarthy,not_out,0,0,0,0,-

In [24]:
df_bowling[df_bowling.match_id == "T203817"]

,match_id,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,T203817,Super Kings Vs KKR,KKR,ShakibAlHasan,3.0,0,33,0,11.00,6,2,3,0,0
1,T203817,Super Kings Vs KKR,KKR,ShivamMavi,4.0,0,32,1,8.00,8,1,2,0,0
2,T203817,Super Kings Vs KKR,KKR,LockieFerguson,4.0,0,56,0,14.00,4,7,2,2,0
3,T203817,Super Kings Vs KKR,KKR,VarunChakravarthy,4.0,0,38,0,9.50,5,2,2,0,1
4,T203817,Super Kings Vs KKR,KKR,SunilNarine,4.0,0,26,2,6.50,6,0,1,1,0
5,T203817,Super Kings Vs KKR,KKR,VenkateshIyer,1.0,0,5,0,5.00,2,0,0,0,0
6,T203817,Super Kings Vs KKR,Super Kings,DeepakChahar,4.0,0,32,1,8.00,10,4,1,1,0
7,T203817,Super Kings Vs KKR,Super Kings,JoshHazlewood,4.0,0,29,2,7.25,10,2,1,2,0
8,T203817,Super Kings Vs KKR,Super Kings,ShardulThakur,4.0,0,38,3,9.50,11,3,1,4,1
9,T203817,Super Kings Vs KKR,Super Kings,DwayneBravo,4.0,0,29,1,7.25,9,1,2,0,0
10,T203817,Super Kings Vs KKR,Super Kings,RavindraJadeja,4.0,0,37,2,9.25,9,3,2,1,0

In [25]:
df_bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match_id     2436 non-null   object
 1   match        2436 non-null   object
 2   bowlingTeam  2436 non-null   object
 3   bowlerName   2436 non-null   object
 4   overs        2436 non-null   float64
 5   maiden       2436 non-null   int64
 6   runs         2436 non-null   int64
 7   wickets      2436 non-null   int64
 8   economy      2436 non-null   float64
 9   0s           2436 non-null   int64
 10  4s           2436 non-null   int64
 11  6s           2436 non-null   int64
 12  wides        2436 non-null   int64
 13  noBalls      2436 non-null   int64
dtypes: float64(2), int64(8), object(4)
memory usage: 266.6+ KB